

body{
	margin: 0px;
	padding: 0px;
	background-image:url('../Project/afbeeldingen/achtergrond2.jpg');
	background-size: auto;
}

section{
	margin: 10px auto;
	padding: 10px 20px;
	width: 100%;
	background-color: #21211F;
	text-align: center;
	color: #F5F4F1;
	text-shadow: 2px 2px 2px #FFFFFF;
	box-shadow: 0 0 5px 1.5px #0067D2; 
}

h1{
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px 2px #008EFE;
}


footer{
	margin: 0 auto;
	padding: 0px 0;
	width: 590px;
	text-align: center;
	color: #F5F4F1;
	text-shadow: 2px 2px 2px #008EFE;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

header{
	margin: 0px;
	padding: 10px;
	width: 1685px;
	background-color: #21211F;
	color: #F5F4F1;
	text-align: center;
	text-shadow: 1px 1px 1px #FFFFFF;
	padding-bottom: 20px;
	
}

head{
	float: center;
	margin: 10px;
	padding: 20px;
	
}

p{
	font-family: Arial;
	font-size: 14pt;
	color: #0F5E8C;
	
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 0px;
	padding-bottom: 0px;
}

#cssmenu{
	width: 1705px;
	font-family: 'Open Sans', sans-serif;
	color: ffffff;
	padding-bottom: 10px;
}

#cssmenu.align-right ul li{
	float: right;
	border-right: 0;
	border-left: 1px solid rgba(0,0,0, 0.22);
}

#cssmenu.align-right ul li a{
	border-right: 0;
	border-left: 1px solid rgba(255,255,255, 0.15);
}
#cssmenu ul{
	padding: 0px 550px;
	background: #222222;
	/* oude browsers */
	
	/* achtergrond kleur van de navbar */
	background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}

#cssmenu:after,
#cssmenu ul:after{
	content: '.';
	clear: both;
	display: block;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* maakt de blokken op de navbar en positie van de navbar */
#cssmenu ul li{
	float: left;
	display: block;
	border-right: 1px solid rgba(0,0,0, 0.22);
	z-index: 1;
	
}

#cssmenu ul li::after{
	content: '';
	width: 100%;
	height: 8px;
	position: absolute;
	border-top-left-radius: 50% 4px;
	border-top-right-radius: 50% 4px;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
	background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	z-index: 2;
	bottom: 10px;
}

/* geeft de effect aan de blokken van de navbar en de tekst*/
#cssmenu ul li a{
	display: block;
	padding: 20px 40px;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	transition: 300ms;
	color: #ffffff;
	border-right: 1px solid rgba(255,255,255, 0.15);
	z-index: 3;
}

#cssmenu ul li a:hover,
#cssmenu ul li.active a{
	color: #ffffff
}

#cssmenu ul li:hover,
#cssmenu ul li.active{
	background: #1275ae;
	
	background: -moz-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: -webkit-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: -o-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: -ms-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
	background: linear-gradient(to top, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
}

#cssmenu ul li:hover::after,
#cssmenu ul li.active::after{
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
	background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';
/* Base Styles */
#cssmenu2,
#cssmenu2 ul,
#cssmenu2 li,
#cssmenu2 a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu2 {
  width: 250px;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu2 a {
  line-height: 1.3;
}
#cssmenu2 > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu2 > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu2 > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu2 > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
#cssmenu2 > ul > li {
  background: #e94f31;
  background: -moz-linear-gradient(#e94f31 0%, #d13516 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e94f31), color-stop(100%, #d13516));
  background: -webkit-linear-gradient(#e94f31 0%, #d13516 100%);
  background: linear-gradient(#e94f31 0%, #d13516 100%);
}
#cssmenu2 > ul > li:hover {
  background: #e84323;
  background: -moz-linear-gradient(#e84323 0%, #c33115 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e84323), color-stop(100%, #c33115));
  background: -webkit-linear-gradient(#e84323 0%, #c33115 100%);
  background: linear-gradient(#e84323 0%, #c33115 100%);
}
#cssmenu2 > ul > li > a {
  font-size: 14px;
  display: block;
  background: url(pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #ba2f14;
  border-top: none;
  text-shadow: 0 -1px 1px #751d0c;
}
#cssmenu2 > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu2 > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu2 > ul > li.active {
  border-bottom: none;
}
#cssmenu2 > ul > li.has-sub > a span {
  background: url(icon_plus.png) 96% center no-repeat;
}
#cssmenu2 > ul > li.has-sub.active > a span {
  background: url(icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu2 ul ul {
  display: block;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu2 ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu2 ul ul li:last-child {
  border-bottom: none;
}
#cssmenu2 ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
#cssmenu2 ul ul a:before {
  content: '»';
  position: absolute;
  left: 10px;
  color: #e94f31;
}
#cssmenu2 ul ul a:hover {
  color: #e94f31;
}




